    
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
main {
    padding: 2rem;
}
.form-section {
    background-color: #ffffff;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}
.form-section input, .form-section select, .form-section button, .form-section textarea {
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#owner-name,#name,#grooming-date,#notes,#grooming-time,#pet-name,#check-in,#check-out,#room-type,#username,#password {
    width: 100%;
}

.checkbox {
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-section button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.form-section button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #0056b3;

}
nav a {
    color: white;
    padding: 0.75rem 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #003d80;
}

.main-home {
    padding: 0.5rem 2rem;  
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.product-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.product-card p {
    font-size: 1rem;
    color: #555;
}



.username {
    color: #007bff;
}

.section-home {
    background-color: #ffffff;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    display : flex;
    height: 65%;
}


.section-home img {
    border-radius: 8px 0 0 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-home-text {
    border-radius: 8px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
